<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSmoixdsiyXoHx0t6a_J8CvvXMF7m335c</string>
	<key>GCM_SENDER_ID</key>
	<string>462389549650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.api</string>
	<key>PROJECT_ID</key>
	<string>my-api-project-23ae8</string>
	<key>STORAGE_BUCKET</key>
	<string>my-api-project-23ae8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462389549650:ios:26836cf7f940c861871d8b</string>
</dict>
</plist>